body{
    margin: 0;
}

div{
    width: 500px;
    height: 100px;
    margin: 0;
}

#red{
    background-color: #ff0000;
}

#black{
    background-color: black;
}

#gold{
    background-color: #ffd700;
}