body{
    margin: 0;
}

div{
    display: inline-block;
    background-color: black;
    height: 100px;
    width: 100px;
}

#left{
    margin: 50px 25px 50px 50px
}

#right{
    margin: 50px 50px 50px 25px
}
/* div{
    /* width: 500px;
    height: 100px;
    margin: 0; 
    display: inline-block;

}

#red{
    background-color: #ff0000;
}

#black{
    background-color: black;
}

#gold{
    background-color: #ffd700; */
